.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/index.md
docs/index.tex
inst/resources/examples/*/.latexmkrc
inst/resources/examples/*/*_files
inst/resources/examples/*/*_cache
inst/resources/examples/*/rmdja.bib
inst/resources/examples/*/tab.tex
inst/resources/examples/*/*.log
inst/resources/examples/*/*.tex
inst/resources/examples/*/*.png
inst/resources/examples/*/img
inst/resources/examples/*/_latex
/dev
po/R-rmdja.pot