.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/resources/examples/*/.latexmkrc
inst/resources/examples/*/*_files
inst/resources/examples/*/*_cache
inst/resources/examples/*/rmdja.bib
inst/resources/examples/*/tab.tex
inst/resources/examples/*/*.log
inst/resources/examples/*/*.tex